pandas==2.2.2
pymongo==4.13.0
google-generativeai
langchain==0.3.25
langchain-community==0.3.25
langchain-google-genai
langchain-mongodb==0.6.2
langchain-experimental==0.3.4
mesop==1.0.1
matplotlib==3.10.0
seaborn==0.13.2
gunicorn==23.0.0
